:root {
  /* Primary Colors */
  --color-primary-900: #0b0d17;
  --color-secondary-500: #d0d6f9;
  --color-neutral-200: #ffffff;

  /* Typography */
  /* Headings */
  --h1-size: 150px;
  --h2-size: 100px;
  --h3-size: 56px;
  --h4-size: 32px;
  --h5-size: 28px;

  /* Sub Headings */
  --sh1-size: 28px;
  --sh2-size: 14px;
  --nav-size: 16px;

  /* Font Family */
  --font-heading: "Bellefair", serif;
  --font-subheading: "Barlow Condensed", sans-serif;
  --font-text: "Barlow", sans-serif;

  /* Font Spacing */
  --nav-space: 2.7px;
  --h5-space: 4.75px;
  --sh2-space: 2.35px;

  /* Transistion with ease */
  --with-ease: 0.4s ease;

  --bg-img: url("../home/background-home-desktop.jpg");
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

#root {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.custom_nav {
  font-family: var(--font-subheading);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  padding: 1.5rem 0;
  font-size: 1rem;
  overflow: hidden;
}

.navbar-nav.custom_navbar-nav {
  gap: 2rem;
  backdrop-filter: blur(40px);
  padding: 2.5rem 10.3rem 2.5rem 7.5rem;
  background: #ffffff0a;
  position: relative;
}

.custom_navbar_main hr {
  border-top: 1px solid white;
  width: 38vw;
  position: absolute;
  left: 8rem;
  top: 4rem;
  mix-blend-mode: normal;
  z-index: 1;
}

.navbar-nav .nav-link.custom_nav_link {
  color: var(--color-neutral-200);
  position: relative;
  transition: 0.5s ease;
}

.navbar-nav .nav-link.custom_nav_link span {
  font-weight: 700;
  padding-right: 0.75rem;
}

/* Nav Indicator */

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: 0.4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  background: var(--color-neutral-200);
}

.nav-link.custom_nav_link:before {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-neutral-200);
  opacity: 0;
  transition: 0.3s;
}

.nav-link:is(.is-active):before {
  opacity: 1;
  bottom: -2.5rem;
}

.nav-link:not(.is-active):hover:before {
  opacity: 0.5;
  bottom: -2.5rem;
}

/* HomePage Section */

.homepage_main {
  padding: 0 10rem 8rem;
  align-items: flex-end;
  min-height: calc(100vh - 8rem);
  text-align: center;
}

.hero_content {
  color: var(--color-neutral-200);
}

.hero_title {
  font-family: var(--font-subheading);
  letter-spacing: var(--h5-space);
  color: var(--color-secondary-500);
  font-size: 1.75rem;
  text-transform: uppercase;
}

.hero_main_head {
  font-family: var(--font-heading);
  font-size: 9.3rem;
  text-transform: uppercase;
}

.hero_main_subhead {
  font-family: var(--font-text);
  color: var(--color-secondary-500);
  font-size: 1.12rem;
  line-height: 1.8;
  padding-right: 10px;
  font-weight: 400;
}

.explore_btn {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  font-family: var(--font-heading);
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s ease;
  animation: explore 1s infinite alternate;
}

.explore_btn:is(:hover, :focus) {
  box-shadow: 0px 0px 0px 80px #97979740;
  background-color: var(--color-neutral-200);
}

@keyframes explore {
  to {
    box-shadow: 0px 0px 0px 60px #97979740;
  }
}

/* Destination Navbar */

.dest_nav .custom_navbar-nav {
  padding: 0;
  backdrop-filter: none;
  background: none;
  gap: 2.18rem;
}

.dest_nav .nav-link.custom_nav_link:before {
  bottom: -0.75rem;
}

.dest_nav .navbar-nav .nav-link.custom_nav_link {
  padding: 0;
}

/* DEstination Container */

.destinationSection {
  padding: 0 10rem 7rem;
}

.dest_container {
  color: var(--color-neutral-200);
  padding-right: 1.75rem;
}

.dest_container hr {
  border-top: 1px solid #383b4b;
  opacity: 1;
}

.dest_title {
  font-size: var(--h5-size);
  color: var(--color-neutral-200);
  font-family: var(--font-subheading);
  letter-spacing: var(--h5-space);
  text-transform: uppercase;
  padding: 4rem 0;
}

.dest_title span {
  font-weight: 700;
  opacity: 0.25;
  padding-right: 0.75rem;
}

.dest_head {
  font-size: 6.25rem;
}

.dest_subhead {
  padding-right: 0;
  padding-bottom: 3rem;
}

.dest_img {
  transform-style: preserve-3d;
  overflow: hidden;
}

.dest_img img {
  animation: rotate 100s infinite linear;
}

/* Destination Animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.desc_detail {
  text-transform: uppercase;
  line-height: 2;
}

.desc_detail_name {
  font-size: 0.875rem;
  font-family: var(--font-subheading);
  color: var(--color-secondary-500);
  letter-spacing: var(--sh2-space);
}

.desc_detail_info {
  font-family: var(--font-heading);
  font-size: 1.75rem;
}

/* Loader */
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.mySwiper2 .swiper-slide {
  align-items: flex-end;
  justify-content: center;
}

.class_bullet {
  width: 15px !important;
  height: 15px !important;
  margin: 0 !important;
  background-color: var(--color-neutral-200) !important;
  opacity: 0.17 !important;
  transition: 0.5s ease;
}

.class_bullet:hover {
  background-color: var(--color-neutral-200);
  opacity: 0.5 !important;
}

.class_bullet_active {
  opacity: 1 !important;
}

.swiper-pagination {
  text-align: left !important;
  margin-bottom: 3.75rem;
}

/* Crew Container */

.crew_container {
  padding: 0;
}

.crewSection {
  padding: 0 5rem 0 10rem;
}

.crew_title {
  padding: 0;
}

.crew_role {
  font-size: 2rem;
  opacity: 0.5;
}

.crew_head {
  font-size: 3.5rem;
}

.crew_right_section {
  display: grid;
  grid-template-rows: 9.6rem auto 7.5rem 5.875rem;
}

.crew_subhead {
  padding: 20px 0 0 0;
  max-width: 28rem;
}

.crew_img {
  height: 700px;
}

.crew_bullets {
  grid-template-columns: 15px 15px 15px 15px;
  gap: 1rem !important;
  align-items: end;
}

/* Technology */
.techSection {
  padding: 3rem 0rem 6rem 10rem;
}
.tech_right_section {
  grid-template-rows: auto;
  height: 315px;
  grid-template-columns: auto auto;
  align-items: center;
}
.tech_title {
  font-size: 1rem;
  font-family: var(--font-subheading);
  letter-spacing: var(--nav-space);
  color: var(--color-secondary-500);
  opacity: 1;
}

.tech_img {
  height: 527px;
}

.tech_subhead {
  padding: 12px 0;
}

.tech_bullets {
  display: grid;
  gap: 2rem;
  transform: none !important;
}
.tech_bullet {
  background: var(--color-neutral-200) !important;
  width: 80px !important;
  height: 80px !important;
  display: grid !important;
  place-items: center;
  font-size: 2rem;
  font-family: var(--font-heading);
  margin: 0 !important;
  opacity: 1 !important;
  border: 1px solid #ffffff40;
  transition: 0.5s ease;
  color: var(--color-primary-900);
}
.tech_bullet:not(.tech_bullet_active) {
  background: transparent !important;
  color: var(--color-neutral-200);
}
.tech_bullet:hover {
  border-color: var(--color-neutral-200);
}
#tech_SwiperImg .swiper-slide {
  justify-content: end;
  align-items: center;
}

/* Loader */
.main_loader {
  background: rgb(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10000;
  display: grid;
  place-items: center;
  transition: 0.4s ease-in-out;
}
